logs-garbagio-XktWmfi1Rqa1rrVd.json
{"updatedAt":"2025-09-29T16:42:24.000Z","createdAt":"2025-09-13T00:00:28.633Z","id":"XktWmfi1Rqa1rrVd","name":"Logs garbagio","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1GMP5S6PK3s5pvHEHof-ox2tsWtoAgoJp","mode":"list","cachedResultName":"n8n testing","cachedResultUrl":"https://drive.google.com/drive/folders/1GMP5S6PK3s5pvHEHof-ox2tsWtoAgoJp"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-80,0],"id":"18ec6f6e-d888-468e-9fdc-bfd5352685b3","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"UIAxgTqekPp1naXm","name":"Google Drive account 2"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[144,0],"id":"48da9cc8-8ac6-4f17-89fc-a7cb5acf9de5","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"UIAxgTqekPp1naXm","name":"Google Drive account 2"}}},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"n8nlogstesting","mode":"list","cachedResultName":"n8nlogstesting"},"embeddingBatchSize":768,"options":{"pineconeNamespace":"n8nlogs"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[384,0],"id":"5f05ec9a-5c56-4331-ae87-e66cc2571d9e","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"vE3rztXCf1LEHcBb","name":"PineconeApi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[384,192],"id":"ee9c50f0-99ba-460f-90ec-2cc024bc13d0","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"ggXhpoQA5Xzl8Zv5","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"dataType":"binary","loader":"pdfLoader","textSplittingMode":"custom","options":{"metadata":{"metadataValues":[{"name":"Logs","value":"={{ $json.name }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[512,192],"id":"9663680b-c1ec-4a12-9c1c-4ffb3ddb7a4e","name":"Default Data Loader"},{"parameters":{"chunkSize":800,"chunkOverlap":50,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[512,368],"id":"eecafd4c-2a8e-4919-bcb8-d32f82af1c37","name":"Recursive Character Text Splitter"}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-09-13T01:32:41Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"175935a3-86f7-4ddf-97fb-69027fdf0878","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-09-13T00:00:28.636Z","createdAt":"2025-09-13T00:00:28.636Z","role":"workflow:owner","workflowId":"XktWmfi1Rqa1rrVd","projectId":"TshIhWI6bypAMWe5"}],"activeVersion":null,"tags":[]}