my-workflow-rSj01uqX25ZEoBpG.json
{"updatedAt":"2025-09-29T16:41:22.000Z","createdAt":"2025-08-18T20:45:34.226Z","id":"rSj01uqX25ZEoBpG","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"authentication":"airtableTokenApi","baseId":{"__rl":true,"value":"https://airtable.com/appuUOKnL7NcjNMn8/tblFeMgESh4OJusIQ/viwy0omM8rHdXuH7q","mode":"url"},"tableId":{"__rl":true,"value":"https://airtable.com/appuUOKnL7NcjNMn8/tblFeMgESh4OJusIQ/viwy0omM8rHdXuH7q","mode":"url"},"triggerField":"Name","additionalFields":{}},"type":"n8n-nodes-base.airtableTrigger","typeVersion":1,"position":[-560,-96],"id":"4c1945e7-338a-457d-aaf0-3e1939fd51aa","name":"Airtable Trigger","credentials":{"airtableTokenApi":{"id":"hIv2uu2emePLCDkw","name":"Airtable Personal Access Token account"}}},{"parameters":{"promptType":"define","text":"=You are tasked with writing an email of a hotel reservation.\n\nHere's the details of the reservation:\n\nCustomer:{{ $json.fields.Name }}\nRoom Type:{{ $json.fields.Room }}\nDate: {{ $json.fields.Date }}\n\nPlease provide with a concise Email subject and content.\n\nMake a clean content with new lines if needed.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-416,-96],"id":"4400029e-15ef-470c-be31-9dfa63ea9bd9","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-416,112],"id":"2413d774-f1e0-4186-8e44-b413fc83c1af","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"ggXhpoQA5Xzl8Zv5","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"email_subject\": \"Your reservation at the hotel\",\n\t\"email_content\": \"Dear customer, in this message you will find the contents of your reservation\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-240,112],"id":"6a54eb36-b698-4b82-805c-ed84d3a8dccd","name":"Structured Output Parser"},{"parameters":{"resource":"draft","subject":"={{ $json.output.email_subject }}","message":"={{ $json.output.email_content }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-64,-96],"id":"9b208938-a19f-4b22-8a0c-8cae6cb16cd2","name":"Create a draft","webhookId":"1516818e-c0c2-41e8-b3bb-5c01db0991d3","credentials":{"gmailOAuth2":{"id":"T4gUtOvBJtRvW3ff","name":"Gmail account 2"}}}],"connections":{"Airtable Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Create a draft","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ede8e5ff-78b2-4fbf-9edb-0a07d9609f1c","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-08-18T20:45:34.232Z","createdAt":"2025-08-18T20:45:34.232Z","role":"workflow:owner","workflowId":"rSj01uqX25ZEoBpG","projectId":"TshIhWI6bypAMWe5"}],"activeVersion":null,"tags":[]}