my-workflow-2-kjdiBfT3ppCWuJeH.json
{"updatedAt":"2025-09-13T01:34:02.000Z","createdAt":"2025-09-05T22:37:06.881Z","id":"kjdiBfT3ppCWuJeH","name":"My workflow 2","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Review form","formDescription":"Satisfaction levels","formFields":{"values":[{"fieldLabel":"Name","placeholder":"Name","requiredField":true},{"fieldLabel":"Review","fieldType":"textarea","placeholder":"Your Review","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-320,-48],"id":"4f72e3a1-3a75-400e-a1a4-a4daff11dee2","name":"On form submission","webhookId":"4c6afb16-b534-4369-8a18-d9689833f6d1"},{"parameters":{"promptType":"define","text":"={{ $json.Review }}","messages":{"messageValues":[{"message":"You are analysing setiment reviews in a hotel, conduct evaluations to determine whether a review is: Positive, Negative or Neutral.\nRespond with only one word"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-96,48],"id":"35eb4e49-6c34-4b8e-91be-06a8c3f944f9","name":"Basic LLM Chain"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-96,192],"id":"fc11a90b-961e-4bea-8317-4c8b447e894f","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"ggXhpoQA5Xzl8Zv5","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[240,-32],"id":"7534216f-46c9-4904-9f18-37d27d27daec","name":"Merge"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appuUOKnL7NcjNMn8","mode":"list","cachedResultName":"test 1","cachedResultUrl":"https://airtable.com/appuUOKnL7NcjNMn8"},"table":{"__rl":true,"value":"tblGAbTrCJrODBQeS","mode":"list","cachedResultName":"Table 2","cachedResultUrl":"https://airtable.com/appuUOKnL7NcjNMn8/tblGAbTrCJrODBQeS"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $json.Name }}","review":"={{ $json.Review }}","Sentiment":"={{ $('Basic LLM Chain').item.json.text }}","Date":"={{ $json.submittedAt }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"review","displayName":"review","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Sentiment","displayName":"Sentiment","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Positive","value":"Positive"},{"name":"Negative","value":"Negative"},{"name":"Neutral","value":"Neutral"}],"readOnly":false,"removed":false},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[448,-32],"id":"51da4845-a7c4-416b-9ee2-f097d25e6ead","name":"Create a record","credentials":{"airtableTokenApi":{"id":"hIv2uu2emePLCDkw","name":"Airtable Personal Access Token account"}}}],"connections":{"On form submission":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Create a record","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e529129a-1713-4b15-b396-cae5242709bc","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-09-05T22:37:06.887Z","createdAt":"2025-09-05T22:37:06.887Z","role":"workflow:owner","workflowId":"kjdiBfT3ppCWuJeH","projectId":"TshIhWI6bypAMWe5"}],"activeVersion":null,"tags":[]}