send-mail-pinecone-6SmVmWBPdwxcoZ0x.json
{"updatedAt":"2025-09-30T18:51:28.000Z","createdAt":"2025-09-30T17:02:45.956Z","id":"6SmVmWBPdwxcoZ0x","name":"Send mail pinecone","active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-944,-192],"id":"8481773a-0c25-4cae-ada5-9ad708b1adc2","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"You are a helpful assistant to send mails"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-736,-192],"id":"1b2cfb6d-3b5c-4339-9dc8-5dc407a1a9cf","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-736,16],"id":"431dbf65-c578-4631-9b7f-f0fa3dfe81fd","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"ggXhpoQA5Xzl8Zv5","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-592,16],"id":"6c36d894-effc-4975-9483-5a8daa7d7585","name":"Send a message in Gmail","webhookId":"ac5006f7-1246-4979-ad1f-5044947f6d1b","credentials":{"gmailOAuth2":{"id":"T4gUtOvBJtRvW3ff","name":"Gmail account 2"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Send a message in Gmail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2d109e55-a180-4c34-80ed-a0b1953d79d5","activeVersionId":"2d109e55-a180-4c34-80ed-a0b1953d79d5","triggerCount":0,"shared":[{"updatedAt":"2025-09-30T17:02:45.961Z","createdAt":"2025-09-30T17:02:45.961Z","role":"workflow:owner","workflowId":"6SmVmWBPdwxcoZ0x","projectId":"TshIhWI6bypAMWe5"}],"activeVersion":{"updatedAt":"2026-02-15T09:41:05.571Z","createdAt":"2026-02-15T09:41:05.571Z","versionId":"2d109e55-a180-4c34-80ed-a0b1953d79d5","workflowId":"6SmVmWBPdwxcoZ0x","nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-944,-192],"id":"8481773a-0c25-4cae-ada5-9ad708b1adc2","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"You are a helpful assistant to send mails"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-736,-192],"id":"1b2cfb6d-3b5c-4339-9dc8-5dc407a1a9cf","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-736,16],"id":"431dbf65-c578-4631-9b7f-f0fa3dfe81fd","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"ggXhpoQA5Xzl8Zv5","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-592,16],"id":"6c36d894-effc-4975-9483-5a8daa7d7585","name":"Send a message in Gmail","webhookId":"ac5006f7-1246-4979-ad1f-5044947f6d1b","credentials":{"gmailOAuth2":{"id":"T4gUtOvBJtRvW3ff","name":"Gmail account 2"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Send a message in Gmail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false},"tags":[]}